<div class="container">
  <div class="row">
    <div class="col" *ngFor="let au of arrayLogo">
      <div class="card">
        <img [src]="[au]" class="card-img-top imLog" alt="..." />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6" *ngFor="let car of randomCar">
      <div
        class="card cdsty text-center p-2 m-5"
        [ngClass]="{
          'bg-success': car.available,
          'bg-danger': !car.available
        }"
      >
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">{{ car.brand }}</h5>
          <img [src]="[car.modelImage]" alt="" />
          <p class="card-text">Modello {{ car.model }}</p>
          <p class="card-text">Anno {{ car.year }}</p>
          <p class="card-text">Prezzo {{ car.price }} $</p>
          <p>
            Disponibilità:
            {{ car.available ? "Disponibile" : "Non disponibile" }}
          </p>
          <a
            class="btn btn-primary"
            [routerLink]="['/' + car.brand.toLocaleLowerCase()]"
            >Toggle link</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
