<div class="container">
  <h1 class="text-light text-center m-3">I nostri Marchi</h1>
  <div class="row bg-black">
    <div class="col d-flex justify-content-center" *ngFor="let au of arrayLogo">
      <img [src]="[au]" class="card-img-top imLog" alt="..." />
    </div>
  </div>

  <div class="row">
    <h1 class="text-light text-center m-3">Auto in evidenza</h1>
    <div
      class="col-12 col-md-6 d-flex justify-content-center"
      *ngFor="let car of randomCar"
    >
      <div
        class="card cdsty text-center p-2 m-5"
        [ngClass]="{
          'bg-warning': car.available,
          'bg-secondary': !car.available
        }"
      >
        <div class="card-body d-flex flex-column justify-content-between">
          <h4 class="card-title fs-3">{{ car.brand }}</h4>
          <img [src]="[car.modelImage]" alt="" />
          <h3 class="card-text">Modello {{ car.model }}</h3>
          <p class="card-text">Anno {{ car.year }}</p>
          <p class="card-text">Prezzo {{ car.price }} $</p>
          <p>
            Disponibilità:
            {{ car.available ? "Disponibile" : "Non disponibile" }}
          </p>
          <a
            class="btn btn-primary"
            [routerLink]="['/' + car.brand.toLocaleLowerCase()]"
            >Brand</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
